.registration-page {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.registration-form input {
  margin: 15px;
}

.red-input {
  border-color: red;
}
