.deal-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border: 3px solid black;
}

.deal-card p {
  text-decoration: none;
}

.link-class:hover {
  cursor: pointer;
}

.steam-class {
  color: #007384;
}

.gog-class {
  color: #f57520;
}

.humble-class {
  color: #d9272b;
}

.steam-class .thumb-container {
  background-color: #007384;
}

.gog-class .thumb-container {
  background-color: #f57520;
}

.humble-class .thumb-container {
  background-color: #d9272b;
}
